@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav">
        <li class="active">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "", routeValues: null, htmlAttributes: new { @class = "nav-link btn btn dark"})
        </li>
        <li>
            <a class="nav-link btn btn-dark" href="javascript:document.getElementById('logoutForm').submit()" style="color:white; text-decoration:none;">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link btn btn-dark" style="text-decoration:none;" href="/Account/Login">Login</a>
        </li>
    </ul>
}
