@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="card text-center shadow-lg mr-auto ml-auto" style="width: 70%;">
    <h1>Jacquelyn and Gavin</h1>
    <p class="lead">October 3, 2020 &bull; East Peoria, IL</p>
    <p id="days">200</p>
    <div>
        <script type="text/javascript">
            function countdown() {
                var now = new Date();
                var weddingDate = new Date(2020, 10, 3);

                var currentDate = now.getTime();
                var weddingDate = weddingDate.getTime();

                var remainingTime = weddingDate - currentDate;

                var s = Math.floor(remainingTime / 1000);
                var m = Math.floor(s / 60);
                var h = Math.floor(m / 60);
                var d = Math.floor(h / 24);

                document.getElementById("days").textContent = d + " Days to go!";
            }

            countdown();
        </script>
    </div>
    <p><a href="../Rsvp/Index" class="btn btn-default btn-lg" style="background-color:#800020; color:white;">RSVP &raquo;</a></p>
</div>
<br />
<div class="card ml-auto mr-auto text-center shadow-lg" style="width: 70%;">
    <div>
        <h2 style="color:#800020;">Ceremony and Reception</h2>
        <p>Stoney Creek Hotel</p>
        <p>101 Mariners Way, East Peoria, IL, 61611</p>
    </div>
</div>