@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="card text-center shadow-lg mr-auto ml-auto" style="width: 70%;">
    <br />
    <h1>October 3, 2020 &bull; East Peoria, IL</h1>
    <br />
    <h3>Ceremony and Reception</h3>
    <br />
    <h4>4:00 pm - 11:00 pm</h4>
    <br />
    <h5>Stoney Creek Hotel</h5>
    <h5>101 Mariners Way, East Peoria, IL, 61611</h5>
    <br />
    <p><a href="../Rsvp/Index" class="btn btn-lg" style="background-color:#800020; color:white; text-decoration:none;">RSVP &raquo;</a></p>
</div>
<br />