
@{
    ViewBag.Title = "Photos";
}

<br />

<div class="text-center mr-auto ml-auto" style="width: 70%;">

    <img src="~/img/GavinJackieEngagement-3.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-5.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-7.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-8.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-11.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-16.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-20.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-21.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-23.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-30.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-31.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-41.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-43.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-45.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-47.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-48.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-51.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-52.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-53.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-56.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-58.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-59.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-60.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-61.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-63.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-64.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-65.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-66.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-68.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-69.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-71.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-72.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-73.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-74.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

    <img src="~/img/GavinJackieEngagement-75.jpg" style="max-width: 60%; height: auto;" class="ml-auto mr-auto rounded shadow-lg p-1" />

</div>