
@{
    ViewBag.Title = "Registry";
}

    <br />
    <div class="card text-center shadow-lg mr-auto ml-auto" style="width: 70%;">
        <br />
        <div class="row justify-content-center text-center">
            <div class="col-sm-6">
                <h2>Registry</h2>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="card ml-auto mr-auto" style="width:90%;">
                    <div class="card-body">
                        <h5 class="card-title">Bed Bath & Beyond</h5>
                        <p class="card-text"></p>
                        <a href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/548501520" target="_blank" class="btn btn-light shadow-lg" style="text-decoration:none; background-color:#800020; color:white; ">Registry &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card ml-auto mr-auto" style="width:90%;">
                    <div class="card-body">
                        <h5 class="card-title">Crate & Barrel</h5>
                        <p class="card-text"></p>
                        <a href="https://www.crateandbarrel.com/gift-registry/gavin-willins-and-jacquelyn-mcmurray/r6081032" target="_blank" class="btn shadow-lg" style="text-decoration:none; background-color:#800020; color:white;">Registry &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

