
@{
    ViewBag.Title = "Registry";
}

<h2 class="text-center">Registry</h2>
<div class="row jumbotron text-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bed Bath & Beyond</h5>
                <p class="card-text"></p>
                <a href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/548501520" target="_blank" class="btn btn-light">Registry</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Crate & Barrel</h5>
                <p class="card-text"></p>
                <a href="https://www.crateandbarrel.com/gift-registry/gavin-willins-and-jacquelyn-mcmurray/r6081032" target="_blank" class="btn btn-light">Registry</a>
            </div>
        </div>
    </div>
    <br />
</div>

