
@{
    ViewBag.Title = "Travel";
}

<br/>
<div class="card shadow-lg text-center mr-auto ml-auto" style="width: 70%;">
    <br />
    <h1 class="text-center">Hotel</h1>
    <br />
    <h4>Stoney Creek Hotel</h4>
    <h4>101 Mariners Way, East Peoria, IL, 61611</h4>
    <br />
    <h5>Rooms are under block code '2010WILLIA'</h5>
    <h5>Standard Rooms are $120 and Suites are $149</h5>
    <h5>To make a reservation, call 309-694-1300, or book online!</h5>
    <br />
    <h6><a href="http://www.stoneycreekhotels.com/hotel/travel/peoria/home.do" target="_blank" class="btn btn-lg btn-light shadow-lg" style="text-decoration:none; background-color:#800020; color:white;">Website &raquo;</a></h6>
    <br />
</div>

