
@{
    ViewBag.Title = "Travel";
}

<h2 class="text-center">Travel/Hotel</h2>
<div class="jumbotron text-center shadow-lg">
    <h2>Stoney Creek Hotel</h2>
    <br/>
    <p>101 Mariners Way, East Peoria, IL, 61611</p>
    <br/>
    <p>Rooms are under block code '2010WILLIA'</p>
    <p>Call Main at 309-694-1300, Reservations at 800-659-2220, or book online!</p>
    <br/>
    <p><a href="http://www.stoneycreekhotels.com/hotel/travel/peoria/home.do" class="btn btn-lg btn-light shadow-lg">Website</a></p>

</div>

