@model IEnumerable<TheWeddingOf.Models.RsvpListItem>

@{
    ViewBag.Title = "Index";
}

<p>
    @if (User.Identity.Name == "gjosephw24@gmail.com")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<div class="card text-center shadow-lg mr-auto ml-auto" style="width: 70%;">
    <br />
    <h2>RSVP</h2>
    <p>Find your name on the list and click RSVP!</p>
    <br />
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Names)</strong>
                </td>
                <td>
                    <a style="background-color:#800020; color:white; text-decoration:none;" class="btn shadow-lg" href="@Url.Action("Edit", "Rsvp", new { id = item.RsvpId })">RSVP &raquo;</a>
                </td>
            </tr>
        }
    </table>
</div>
