@model IEnumerable<TheWeddingOf.Models.RsvpListItem>

@{
    ViewBag.Title = "Index";
}

<h2>RSVP</h2>
<p>Find your name on the list and click RSVP!</p>

<p>
    @if (User.Identity.Name == "gjosephw24@gmail.com")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Names)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Names)
            </td>
            <td>
                @Html.ActionLink("RSVP", "Edit", new { id = item.RsvpId }, new { @style="background-color:#800020; color:white;", @class = "btn btn-default btn-lg"})
            </td>
        </tr>
    }
</table>
